@font-face {
  font-family: "Galiver Sans";
  src: url(./../font/GaliverSans.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-image: url(./../img/bg.png);
  background-position: center top;
  background-repeat: repeat-y;
  background-size: cover;
  font-family: "Galiver Sans";
  /* font-family: 'Jacques Francois Shadow', cursive; */
}
a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1312px;
  width: 100%;
  margin: auto;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
}
.header__link {
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  transition: all 0.3s;
}
.header__link:hover {
  color: #ad0b0b;
}

.headgallery {
  background: #ffffff;
  padding-top: 41px;
  padding-bottom: 104px;
}
.headgallery__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.headgallery__btn {
  background-image: url(./../img/button-bg-1.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 267px;
  height: 58px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.headgallery__list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headgallery__item {
}

.welcome {
  margin-top: 50px;
  background-image: url(./../img/welcome-bg.png);
  background-repeat: repeat-x;
  background-position: left 50px;
  margin-bottom: 180px;
}
.welcome__title {
  font-family: "Jacques Francois Shadow";
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 169px;
  color: #a80303;
  text-align: center;
}
.welcome__main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 58px;
}
.welcome__list {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}
.welcome__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.welcome__number {
  background: linear-gradient(180deg, #660505 0%, #c20000 100%);
  width: 147px;
  height: 147px;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 91px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 600px;
}
.welcome__name {
  max-width: 451px;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  color: #a80303;
  text-align: center;
}
.welcome__photo {
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 131px;
}
.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  transition: all 0.3s;
}
.footer__link:hover {
  color: #ad0b0b;
}

.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
  background-color: #ffffff;
}
.gallery__list {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
  row-gap: 114px;
  flex-wrap: wrap;
}
.gallery_item {
}

.breadrumbs__arrow {
  margin-bottom: 40px;
  display: block;
  width: fit-content;
}
.item {
}
.item__main {
  position: relative;
}
.item__img {
  width: fit-content;
  padding: 115px 133px 115px 0;
  background-color: #fff;
  position: relative;
}
.item__img::before {
  position: absolute;
  content: "";
  width: 50vw;
  top: 0;
  right: 100%;
  height: 754px;
  background-color: #fff;
}
.item__title {
  padding-top: 33px;
  padding-bottom: 33px;
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 137px;
  text-align: center;
  color: #ad0b0b;
  padding-right: 400px;
}
.item__arrow {
  position: absolute;
  right: 0;
  bottom: 180px;
}
.item__info {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: justify;
}

.bio-gallery {
}
.bio-titile {
}
.bio-title__left {
  position: relative;
  display: flex;
  align-items: center;
  width: 355px;
  height: 64px;
  background-image: url(./../img/bio-left.png);
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  color: #fff;
}
.bio-title__left::before {
  content: "";
  width: 50vw;
  position: absolute;
  right: 100%;
  top: 0;
  height: 64px;
  background-color: #ad0b0b;
}
.bio__gallery-list {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bio__txt {
  background-color: #fff;
}
.bio__main {
}
.bio-title__right {
  float: right;
  margin-top: -30px;
  background-image: url(./../img/bio-right.png);
  background-repeat: no-repeat;
  background-position: center center;
  width: 355px;
  height: 64px;
  position: relative;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 57px;
  color: #fff;
}
.bio-title__right::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 64px;
  width: 50vw;
  background-color: #ad0b0b;
}
.bio-p {
  padding-top: 59px;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  text-align: justify;
}
